<style>
    .preloader-background {
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;	
        z-index: -1000;

        font-style: italic;
    }

    .preloader-text {
        margin: 0 auto;
    }
</style>
<div class="preloader-background">
    <h6 class="center-align preloader-text">Content is not available! <br/><br/> Please check your internet connection!</h6>
</div>